.onetihs{
	background-color: #c9c9c9;
	color:#371B64 ;
	font-size: 25rpx;
	width: 700rpx;
	padding:25rpx 25rpx;
	margin-left: 25rpx;
	margin-top: 40rpx;
}
.shuruku{
	font-size: 27rpx;
	font-weight: bold;
}
.xiayibubtn{
	width: 600rpx;
	height: 80rpx;
	text-align: center;
	line-height: 80rpx;
	background-color:#2E7EFC;
	color: white;
	border-radius: 10rpx;
	margin-top: 55rpx;
}

.clickmam{
	width: 160rpx;
	height: 64rpx;
	background: linear-gradient(180deg, #2E7EFC 0%, #2E7EFC 100%);
	border-radius: 12rpx;
	opacity: 1;
	font-size: 25rpx;
	text-align: center;
	line-height: 64rpx;
	color: white;
}
.logimh{
	width: 220rpx;
	height: 220rpx;
	margin-bottom: 65rpx;
	border-radius: 50%;
}

.logimh2{
	width: 180rpx;
	height: 180rpx;
	margin-bottom: 65rpx;
	border-radius: 50%;
}
